<div class="pagina">

  <div class="col-12">
    <div class="row">
      <div class="col-12" style="margin-bottom: 20px">
        <cl-contratos [showButtons]="false"></cl-contratos>
      </div>
      <div class="col-6">
        <cl-softwares [showButtons]="false"></cl-softwares>
      </div>
      <div class="col-6">
        <cl-empresas [showButtons]="false"></cl-empresas>
      </div>
      <div class="col-12" style="margin-top: 20px">
        <cl-chamados [showButtons]="false"></cl-chamados>
      </div>
    </div>
  </div>

</div>
