<div class="col-12 header">
  <span class="titulo">Softwares</span>

  <div [hidden]="!showButtons" class="buttons">
    <button  mat-stroked-button (click)="openDialogFormSoftware()">
      <mat-icon>add</mat-icon>
      <span>Adicionar novo software</span>
    </button>
  </div>
</div>

<div class="col-12">
  <div class="row">
    <table class="col-12" mat-table [dataSource]="softwares">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let software">
          {{ software.nome }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sigla">
        <th mat-header-cell *matHeaderCellDef>Sigla</th>
        <td mat-cell *matCellDef="let software">
          {{ software.sigla }}
        </td>
      </ng-container>

      <ng-container matColumnDef="versao_atual">
        <th mat-header-cell *matHeaderCellDef>Versão Atual - Analista</th>
        <td mat-cell *matCellDef="let software">
          {{ software.versao_atual_str }}
        </td>
      </ng-container>

      <div [hidden]="!showButtons">
        <ng-container matColumnDef="editarStatus">
          <th [hidden]="!showButtons" style="width: 16vw"mat-header-cell *matHeaderCellDef>Status da versão</th>
          <td [hidden]="!showButtons" style="width: 16vw" mat-cell *matCellDef="let software">
            <mat-select
            *ngIf="software.versao_atual"
            [(ngModel)]="software.versao_atual.status_versao.id"
            (selectionChange)="onChangeStatus($event, software)"
            placeholder="Status">
            <mat-option *ngFor="let item of all_status" [value]="item.id">
              {{ item.nome }}
            </mat-option>
          </mat-select>
          <span [hidden]="software.versao_atual !== null">--</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="verVersoes">
          <th [hidden]="!showButtons" style="width: 11vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 11vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              style="color: #003366"
              (click)="clickVerVersoes(software)">
              <mat-icon style="font-size: 1.5rem">add</mat-icon>
              Ver versões
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="verTecnologias">
          <th [hidden]="!showButtons" style="width: 13vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 13vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              style="color: #003366"
              (click)="clickVerTecnologias(software)">
              <mat-icon style="font-size: 1.5rem">add</mat-icon>
              Ver tecnologias
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th [hidden]="!showButtons" style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 5vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              (click)="openDialogFormSoftware(software)"
              style="color: #005b44">
              Editar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
          <th [hidden]="!showButtons" style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 5vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              (click)="clickExcluir(software)"
              style="color: red">
              Excluir
            </button>
          </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
