<div class="row">
  <div class="col-12 pagina-login">

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 login">
      <form
        [formGroup]="form"
        style="display: inline-block"
        class="col-10 col-sm-10 col-lg-10 form text"
        (submit)="submit()"
      >
        <h2>Sistema de Controle de Softwares</h2>

        <mat-form-field class="col-12">
          <mat-label>Email </mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Senha </mat-label>
          <input matInput type="password" formControlName="senha" />
        </mat-form-field>

        <button
          disabled="{{ loading }}"
          mat-raised-button
          color="primary"
          class="col-12 stac-button-red"
        >
          ENTRAR
        </button>
      </form>
    </div>

  </div>
</div>
