<div class="pagina">
  <div class="col-12 header">
    <span class="titulo">Softwares</span>

    <div class="buttons">
      <button
        mat-stroked-button
        [ngStyle]="{
          background: showCards ? 'transparent' : '#005b4450',
          color: showCards ? 'black' : 'white'
        }"
        (click)="changeListCards()">
        <mat-icon>list</mat-icon>
      </button>

      <button mat-stroked-button>
        <mat-icon>add</mat-icon>
        <span>Adicionar</span>
      </button>
    </div>
  </div>

  <div [hidden]="showCards" class="col-12">
    <div class="row">
      <table class="col-12" mat-table [dataSource]="softwares">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let software">
            {{ software.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef>Sigla</th>
          <td mat-cell *matCellDef="let software">
            {{ software.sigla }}
          </td>
        </ng-container>

        <ng-container matColumnDef="versaoAtual">
          <th mat-header-cell *matHeaderCellDef>Versão Atual</th>
          <td mat-cell *matCellDef="let software">
            {{ software.versaoAtual.versao }} - {{ software.versaoAtual.data }}
          </td>
        </ng-container>

        <ng-container matColumnDef="verVersoes">
          <th style="width: 15vw" mat-header-cell *matHeaderCellDef></th>
          <td style="width: 15vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              style="color: #003366"
              (click)="clickVerVersoes(software)">
              <mat-icon style="font-size: 1.5rem">add</mat-icon>
              Ver versões
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td style="width: 5vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              style="color: #005b44">
              Editar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
          <th style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td style="width: 5vw" mat-cell *matCellDef="let software">
            <button
              mat-button
              style="color: red">
              Excluir
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
