<h2 mat-dialog-title>
  Nova versão - {{ software.nome }}
</h2>

<mat-dialog-content class="text-font">
  <form [formGroup]="form" class="form" autocomplete="off">
    <div class="row">

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-6">
        <mat-label>Nome da versão</mat-label>
        <input matInput type="text" formControlName="versao" />

        <mat-error *ngIf="form.get('versao_atual.versao')?.hasError('required')">
          Nome da versão é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        color="accent"
        class="col-12 col-sm-6 col-lg-6"
        (click)="picker.open()">
        <input
          matInput
          formControlName="data"
          [matDatepicker]="picker"
          placeholder="Data"
          [disabled]="true" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="!isNew"></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-8">
        <mat-select
          placeholder="Analista responsável"
          formControlName="id_analista">
          <mat-option *ngFor="let item of analistas" [value]="item.id">
            {{ item.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-4">
        <mat-select
          placeholder="Status da versão"
          formControlName="id_status">
          <mat-option *ngFor="let item of all_status" [value]="item.id">
            {{ item.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="this.form.invalid"
    (click)="onSubmit()">
    Salvar
  </button>
</mat-dialog-actions>
