mat-dialog-content {
  max-width: 70vw;
}

@media (max-width: 1100px) {
  mat-dialog-content {
    max-width: 90vw;
  }
}

@media (max-width: 740px) {
  mat-dialog-content {
    max-width: 110vw;
  }
}

.sectionLabel {
  color: #000;
  margin-bottom: 10px;
  font-size: 1.7rem !important;
}

.label {
  color: rgba(0, 0, 0, 0.54);

  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.4rem !important;
}

.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.38);
}

