.pagina {
  padding: 20px 40px 20px 40px;
}

.header {
  //padding: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  .buttons {
    display: flex;
    flex-direction: row;

    > button {
      margin-right: 5px;
    }
  }

  min-height: 42px;

  color: black;
}

.filtros {
  padding: 0;

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .button {
      display: flex;
      align-items: center;
    }
  }
}
