<div class="pagina">
  <div class="col-12 header">
    <span class="titulo">Empresas</span>

    <div class="buttons" [hidden]="!showButtons">
      <button mat-stroked-button (click)="openDialogFormEmpresa()">
        <mat-icon>add</mat-icon>
        <span>Adicionar nova empresa</span>
      </button>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <table class="col-12" mat-table [dataSource]="empresas">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let empresa">
            {{ empresa.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cnpj">
          <th mat-header-cell *matHeaderCellDef>CNPJ</th>
          <td mat-cell *matCellDef="let empresa">
            {{ empresa.cnpj }}
          </td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef>Endereço</th>
          <td mat-cell *matCellDef="let empresa">
            {{ empresa.endereco.tipo_logradouro }} {{ empresa.endereco.logradouro }}, {{ empresa.endereco.numero }},
            {{ empresa.endereco.cidade }} - {{ empresa.endereco.uf }}
          </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th [hidden]="!showButtons" style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 5vw" mat-cell *matCellDef="let empresa">
            <button
              mat-button
              (click)="openDialogFormEmpresa(empresa)"
              style="color: #005b44">
              Editar
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
          <th [hidden]="!showButtons" style="width: 5vw" mat-header-cell *matHeaderCellDef></th>
          <td [hidden]="!showButtons" style="width: 5vw" mat-cell *matCellDef="let empresa">
            <button
              mat-button
              (click)="clickExcluir(empresa)"
              style="color: red">
              Excluir
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
